@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
	background: #556070;
}

.pagina-medio {
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	display: block;
	margin: 10em auto 0;
	max-width: 600px;
	text-align: center;
	padding: 0 8px;
}

.cuadro-img {
	display: block;
	position: relative;
	margin: 0 auto;
	height: 144px;
	width: 144px;
}

.imagen {
	height: 140px;
	width: 140px;
	border-radius: 50%;
	border: 2px solid #fff;
}

.titulo {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: center;
}

.emoji {
	height: 36px;
	width: 36px;
}

.desc {
	display: block;
	margin: 0 auto;
	font-size: 22px;
	font-weight: 400;

	text-align: center;
}

.btnGroup {
	display: inline;
}

.spnName {
	display: inline;
}

.frmtText {
	display: block;
}

.social-btn {
	display: inline-block;
	cursor: pointer;
	font-size: 30px;
	border: 2px solid;
	line-height: 50px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin: 15px 10px 15px;
	vertical-align: middle;
	color: #fff;
	background: transparent;
}

.social-media {
	height: 50px;
	width: 50px;
}

.social-media-small {
	margin: 5px 5px 5px 5px;
	height: 40px;
	width: 40px;
}

.social-media-none {
	margin: 10px 0px 0px 0px;
}

.social-media-special {
	margin: 9px 5px 5px 4px;
	height: 34px;
}

#cv:hover,
#email:hover {
	background: #7f8c8d;
}

#fcc:hover {
	background: #006400;
}

#so:hover {
	background: #FD9827;
}

#gh:hover {
	background: #221e1b;
}

#in:hover {
	background: #0077b5;
}

@media only screen and (max-width: 500px) {
	.btnGroup {
		display: block;
	}

	.spnName {
		display: block;
	}
}

@media only screen and (max-height: 600px) {
	.pagina-medio {
		margin-top: 5em;
	}
}

@media only screen and (max-height: 568px) {
	.pagina-medio {
		margin-top: 2em;
	}
}

@media only screen and (max-height: 400px) {
	.pagina-medio {
		margin-top: 8px;
	}
}

@media only screen and (max-width: 375px) {
	.pagina-medio {
		margin-top: 4em;
	}

	.social-btn {
		margin: 10px 10px;
	}
}

@media only screen and (max-width: 320px) {
	.pagina-medio {
		margin-top: 2em;
	}
}